@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

		*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: 'Poppins', sans-serif;
		}


		main{
			position: relative;
			height: 100vh;
			width: 100%;
			display: flex;
			justify-content:center;
			align-items: center;
			background-image: linear-gradient(to left,#77a1d3, #79cbca, #e684ae);
		}

		.container{
			width: 80vw;
			height: 90vh;
			border: 1px solid rgba(255, 255, 255, 0.3);
			border-radius: 45px;
			display: flex;
		}

		.left-bar{
			width: 200px;
			
			border-radius: 45px;
			height: 100%;

			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.left-bar .icons{
			width: 32px;
			margin: 15px;
		}

		.redes{
			margin-top: 30px;
			display: flex;
			flex-direction: column;
		}
		.avatar{
			margin: 15px;
			border: 2px solid rgba(255, 255, 255, 0.3);
			border-radius: 180px;
			width: 150px


		}
		.left-bar div{
			display: flex;
			align-items: center;
		}

		.left-bar div a{
			text-decoration: none;
			font-size: 18px;
			color: black;
		}

		.left-bar div a:hover{
			color: white;
			font-weight: 900;
		}

		.btn-jogar{
			margin:30px;
			border-radius: 90px;
			text-decoration: none;
			color: white;
			font-size: 25px;
			border: 2px solid rgba(255, 255, 255, 0.3);
			width: 100px;
			text-align: center;
		}
		.btn-jogar:hover{
			background: rgba(255, 255, 255, 0.1);
			backdrop-filter: blur(5px);
			box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
			animation: btn 0.5s ease-in-out alternate infinite;
		}
		

		.rigth-bar{
			flex: 1;
			border-radius: 45px;
			height: 100%;
			background: rgba(255, 255, 255, 0.1);
			backdrop-filter: blur(5px);
			box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
		}

		.area-info{
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.quadrado1{
			position: absolute;
			top: 100px;
			left: 20px;
			width: 120px;
			height: 120px;
			background: rgba(255, 255, 255, 0.1);
			backdrop-filter: blur(5px);
			box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
			border-radius: 90px;
			animation: circulo 8s ease-in-out 4s alternate infinite;

		}


		.quadrado2{
			position: absolute;
			top: 250px;
			left: 20px;
			width: 120px;
			height: 120px;
			background: rgba(255, 255, 255, 0.1);
			backdrop-filter: blur(5px);
			box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
			border-radius: 90px;
			animation: circulo 8s ease-in-out 3s alternate infinite;
		}

		.quadrado3{
			position: absolute;
			top: 420px;
			left: 20px;
			width: 120px;
			height: 120px;
			background: rgba(255, 255, 255, 0.1);
			backdrop-filter: blur(5px);
			box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
			border-radius: 90px;
			animation: circulo 8s ease-in-out 2s alternate infinite;
		}

		@keyframes circulo{
			to{
				transform: translateX(calc(100vw - 150px));
			}
		}

		@keyframes btn{
			from{

			}

			to{
				transform: scale(1.1);
				opacity: 0.5;
			}
		}

		@keyframes entradaElementos{
			from{
				opacity: 0;
				transform: translateY(50px);
			}

			to{
				opacity: 1;
				transform: none;
			}
		}

		.entradaElements{

			animation: entradaElementos 1s ease-in  forwards ;
		}



	.row1{
		width: 100%;
		
		display: flex;

	}
	
	.area-info img{
		padding: 10px;
		
	}
	.infos-jogador{
		margin: 15px;
		border: 2px solid red;

	}

	.area-info progress{
		width:85%;
		margin-bottom: 20px;
	}

	.conquistas{	
		display: flex;
		justify-content: space-between;
	}

	.cardsJogos{
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;

		margin: 0 auto;
		width: 80%;
		padding: 5px;
		/*border: 1px solid red;*/
	}

	.card {

		border: 1px solid black;
		box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
		border: 1px solid rgba(255, 255, 255, 0.3);
		cursor: pointer;
		margin-top: 15px;

	}

	.card:hover{
		transform: translateY(10px);
		transform: scale(0.9);
		animation: opacidade 1s linear forwards ;
	}

	.bkg{
		width: 100%;
		height:200px;
		background-image: url('images/cardJogoPaladins.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}


	.bkg1{
		width: 100%;
		height:200px;
		background-image: url('images/callOfDuty.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}

    .bkg2{
		width: 100%;
		height:200px;
		background-image: url('images/lol.png');
		background-repeat: no-repeat;
		background-size: cover;
	}


